
/*--------------------------------------preloader----------------------------------*/

#preloader {
  background: #000 url(../img/preload.gif) no-repeat center;
  background-size: 8%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  display: flex;
  transition: opacity 1s ease-out;
}

@font-face{
  font-family: myFont1;
  src: url(Roboto/Roboto-Regular.ttf);
}
@font-face{
  font-family: myFont;
  src: url(orbitron.ttf);
}
*{
  font-family: myFont1;
}


body {
  background: #1c4a60;
  background-size: 80% auto;
  background-position-y: -10%;
  overflow: auto;
  margin: 0;
  color: #fff;
  transition: all 1s ease-in-out;
  opacity: 0;
}

/* Hintergrundbilder sollten in einer Zeile definiert werden, und die Werte für background-size und background-position sollten in derselben Zeile stehen. */



        



        /*------------------------------- Findme site;----------------------------------------*/

section {
    max-height: 100vh;
    margin: auto;
}

/* CSS-Eigenschaften für das <div>-Element mit der ID "ripple" */
#ripple {
    height: 100vh;
    width: 100%;
    object-fit: cover;


  

    background-position-y: 55%;
    background-size: cover;
    filter: grayscale(40%);

}

@media screen and (max-width: 768px) {
  #ripple {
    background-position-x: 45%;
    transition: all 1s ease-in-out;

  }
}





/*----------------------------------header----------------------------------*/

header{
position: relative;
width: 100%;
flex-wrap: wrap;
order: 1;

transition: all 1s ease-in-out;
}

header img{
  position: relative;
  z-index: 1000;
width: 6vw;
margin:2rem 0 4rem 4rem;
min-width: 4rem;
transition: transform 0.2s ease-in-out;
transform: scale(0.7);


}

header img:hover{
transform: scale(0.8);


}



@media screen and (max-width: 768px) {


header img{

margin:2rem 0 2rem 2rem;
transition: all 1s ease-in-out;
transform: scale(1.1);
}





}

/*---------------------------------schrift about me-------------------------------------*/

.aboutme img {
   z-index: 4;
   display: flex;
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    margin-top:-9rem;
    opacity: 0.8;
    filter: brightness(3);
    transition: opacity 0.3s ease-in-out;
    
    transform: scale(0.75);


}



.aboutme{
  transform: scale(0.8);
}


.hamburger-active .aboutme img {
    opacity: 0;
}



.aboutme img:active{

  opacity: 1;

}

@media screen and (max-width: 768px) {
  .aboutme img { margin-top: 0rem;
    filter: brightness(10);
    opacity: 1;

}
}



/*----------------------------------hamburger menü----------------------------------*/

.navkorb{
  z-index: 20000;
  cursor: pointer;
  position: absolute;
  top: 0.1rem;
  right: 0;
  margin: 1.9rem;
  margin-right: 7vw;
 



  width: 60px;
  transform: scale(0.7);
  padding: 2px;
  border: solid 4px black;
  border-left: none;
  border-radius: 1rem;
  transition: all 0.4s ease-in-out;
}

.navkorb.active {
  transform: rotate(-5deg);
  cursor: pointer;

}

.navkorb.active .eins {
  transform: translateX(-36vw);
  scale: 1.7;
  margin-bottom: 1.3rem;
  margin-top: 1.3rem;
}

.navkorb.active .zwei {
  transform: translateX(-24vw);
  scale: 1.7;
  margin-bottom: 1.3rem;
}

.navkorb.active .drei {
  transform: translateX(-12vw);
  scale: 1.7;
  margin-bottom: 1.3rem;
}


.bar {

  background: rgb(248, 248, 248);
  cursor: pointer;
  width: 100px;
  height: 15px;
  margin: 1.5px;

  transform: scale(0.6);
  border-radius: 0.3rem;
  transition: all 0.3s ease-in-out;

}



.bar.active{
  background: rgba(102, 31, 23, 0.7);
  height: 20px;
}

.bar.active .bartext {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.bartext {
  display: inline-block;
  font-family: myFont,'Bebas Neue', sans-serif;
  font-weight: 600;
  opacity: 0;
  text-align: center;
  transition: opacity 0.3s ease-in-out, transform 1s ease-in-out;
  margin-top: -1px;
  margin-left: 0.4rem;

}

.bartext:hover{
 transform: scale(1.1);
}


.boton{

  width: 55px;
  height: 50px;
  border-radius: 0.8rem;
  margin-bottom: -3rem;
  margin-left: 0.3rem;
  background: rgba(102, 31, 23, 0.8);


}

.boton.active{
  background: rgba(102, 31, 23, 1);

}

.boton1{

width: 55px;
height: 50px;
border-radius: 0.8rem;
margin-top: -3rem;
margin-left: 0.3rem;
background: rgba(102, 31, 23, 0.8);
opacity: 0;
}

.boton.active1{
background: rgba(102, 31, 23, 1);
}

/*LINKS--------*/

a:link{
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
a:visited{
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
a:hover{
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
a:active{
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease-in-out;
}






@media screen and (max-width: 1100px) {

.navkorb{
  scale: 0.8;
  transition: all 0.3s ease-in-out;
}


.navkorb.active {

  transform: rotate(-7deg);

}





@media screen and (max-width: 768px) {


  .navkorb.active {

transform: rotate(-7deg);

}


.navkorb.active .eins {
  transform: translateX(-14vw);
  scale: 1.7;
  margin-bottom: 1.3rem;
  margin-top: 1.3rem;
}

.navkorb.active .zwei {
  transform: translateX(-28vw);
  scale: 1.7;
  margin-bottom: 1.3rem;
}

.navkorb.active .drei {
  transform: translateX(-42vw);
  scale: 1.7;
  margin-bottom: 1.3rem;
}

.boton{

opacity: 0;
}

.boton1{
  opacity: 1;

}
}
.navkorb{
  transform: scale(1);
}
.bar.active{
  background: rgba(102, 31, 23, 0.0);
 
}
}



 /*---------------------------------MAIN------------------------------------*/


 .contenedor {
    max-width: 80%;
    font-size: 1.4rem;
    margin: 0 auto;
    text-align: center;
    
    column-gap: 20px;
    background: #1d4151;
    padding: 1rem;
    border-radius: 1rem;



}
.columna img {
  width: 20vh;
  height: auto;
  object-fit: cover;
  margin: 30px;
 
  


}

p{
  font-weight: 400;
}







@keyframes fadeIn {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        .animiert {
            animation-name: fadeIn;
            animation-duration: 3s;
            animation-iteration-count: 1;
            animation-timing-function: linear;
        }

@media screen and (max-width: 1000px) {
 .contenedor{


  margin: 0 auto;

 }
}

.columna img{
  float: left;
  opacity: 0.7;
  width: 40%;
}


@media screen and (max-width: 768px) {
 .contenedor{


   margin-top: -2rem;
   column-count: 1;
   border-radius: 0;
   max-width: 90%;
   height: auto;
   opacity: 0.8;
   font-size: 1.5rem;

}

.columna img{
  
 padding-top: 2em;
  display: flex;
  margin: 0 auto;
  margin-bottom: 10px;
  float:none;
  width: 100%;
  height: 300px;
 
}



.contenedor{
  background: rgba(102, 31, 23, 0.0);
}




}




/*----------------------------------FOOTER------------------------------------*/


.rechte{

  font-family: myFont;
  z-index: 2000;
  order: 4;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;




}


div a{
  scale: 0.8;
  margin: 20px 20px 2px 20px;
}



@media screen and (max-width: 768px) {
 div a{
  scale:0.7;
  margin: 2px 10px 2px 10px;



 }

}




    